footer.footer {
    padding: 50px 0 32px;
    background: #11559E;
    text-align: center;

    ul {
        list-style-type: none;
        margin: 0 0 10px 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    p {
        margin-bottom: 14px;
        font-weight: 300;
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #fff;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }

        span {
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.footer__logo {
    display: inline-block;

    img {
        width: 116px;
    }
}

.footer__item {
    .title {
        margin-bottom: 19px;
        font-weight: 500;
        font-size: 18px;
    }
}

.footer__item.soc {
    max-width: 240px;
    text-align: center;
    display: inline-block;
    padding-right: 40px;

    .footer__soc {
        display: inline-flex !important;
        max-width: 200px;
        width: 100%;
        flex: 0 0 200px;
    }

    a {
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.footer__item.logoitem {
    text-align: left;
    padding-left: 110px;
}

footer.footer .footer__contacts {
    display: block;
    margin-bottom: 100px;

    li {
        margin: 0;
        display: block;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #fff;
            font-size: 16px;
            position: relative;
            padding-left: 33px;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }

        img {
            width: 24px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


@media(max-width:1399.8px) {
    .footer__logo {
        margin-bottom: 40px;
    }

    footer.footer {
        padding-top: 30px;
    }

}

@media(max-width:991.8px) {

    .footer__item,
    .footer__item.soc {
        display: none;
    }

    .footer__item.logoitem {
        display: block;
    }

    .footer__item.logoitem {
        padding-left: 0;
        text-align: center;

        img {
            max-width: 80px;
        }
    }
}
