$text-color: #333;

body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Inter", sans-serif;
    color: $text-color;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1344px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    color: $text-color;
    font-size: 64px;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
}

h2,
h3 {
    font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h2,
h3 {
    color: $text-color;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.bluebtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    padding: 4px 12px 3px;
    background: #203182;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 22px;

    img,
    svg {
        margin-left: 10px;
    }
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

img {
    max-width: 100%;
}

.fill-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media(max-width:1399.8px) {
    h1 {
        font-size: 52px;
    }

    h2,
    h3 {
        font-size: 32px;
    }
}