header.header {
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 12;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        li {
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
            }
        }
    }

    .flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &.scroll {
        box-shadow: 0 0 6px #d1d1d1;
    }
}

.header__logo {
    width: 100%;
    max-width: 100px;
    flex: 0 0 100px;

    img {
        max-width: 98px;
        vertical-align: top;
    }
}

.leaverequest {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    border-radius: 22px;
    border: 1px solid #333;
    padding: 4px 10px 3px;
    font-weight: 600;
    color: $text-color;
    text-transform: uppercase;
    width: 100%;
    max-width: 225px;
    flex: 0 0 225px;

    img,
    svg {
        margin-left: 10px;
    }
}

header.header nav {
    width: 100%;
    max-width: calc(100% - 325px);
    flex: 0 0 calc(100% - 325px);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:1399.8px) {
    header.header ul li {
        margin-right: 40px;

        a {
            font-size: 16px;
        }
    }

    .leaverequest {
        font-size: 14px;
        min-height: 48px;
        border-radius: 16px;
    }
}