header.header {
    padding: 12px 0;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 12;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        li {
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
            }
        }
    }

    .flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &.scroll {
        box-shadow: 0 0 6px #d1d1d1;
    }
}

.header__logo {
    width: 100%;
    max-width: 100px;
    flex: 0 0 100px;

    img {
        max-width: 98px;
        vertical-align: top;
    }
}

.leaverequest {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    border-radius: 22px;
    border: 1px solid #333;
    padding: 4px 10px 3px;
    font-weight: 600;
    color: $text-color;
    text-transform: uppercase;
    width: 100%;
    max-width: 225px;
    flex: 0 0 225px;
    transition: 0.3s;

    img,
    svg {
        margin-left: 10px;
        transition: 0.3s;
    }

    &:hover {
        color: #fff;
        background: #203182;

        img,
        svg {
            filter: invert(1);
        }
    }
}

header.header nav {
    width: 100%;
    max-width: calc(100% - 325px);
    flex: 0 0 calc(100% - 325px);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

button.burger {
    display: none;
}

@media(max-width:1399.8px) {
    header.header ul li {
        margin-right: 40px;

        a {
            font-size: 16px;
        }
    }

    .leaverequest {
        font-size: 14px;
        min-height: 48px;
        border-radius: 16px;
    }
}

@media(max-width:1199.8px) {
    header.header ul li {
        margin-right: 20px;
    }


}

@media(max-width:991.8px) {
    header.header {
        &.show {
            nav {
                transform: translateX(0);
            }

            .overlay {
                opacity: 1;
                visibility: visible;
            }
        }

        nav {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            max-width: 400px;
            background: #fff;
            height: 100vh;
            transition: 0.5s;
            transform: translateX(100%);
            padding: 80px 40px 40px 40px;
            overflow: auto;
        }

        .container {
            position: relative;
        }
    }

    header.header .flex-wrapper {
        justify-content: space-between;
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        vertical-align: middle;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 32px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #203182;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #203182;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .overlay {
        background: rgba(#000, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: 0.5s;
    }

    header.header ul {
        display: block;

        li {
            margin: 0 0 20px 0;

            a {
                font-size: 18px;
            }
        }
    }
}

@media(max-width:575.8px) {
    .leaverequest {
        border-radius: 60px;
        font-size: 16px;
        font-weight: 500;
        min-height: 44px;
        padding: 4px 5px 3px;
        max-width: 220px;

        svg {
            margin-left: 6px;
        }
    }
}

@media(max-width:370.8px) {
    .leaverequest {
        font-size: 14px;
        max-width: 190px;
    }


}