.hero {
    padding: 100px 0 50px;
    position: relative;
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: center;

    h1 {
        max-width: 805px;
    }

    .descr {
        max-width: 560px;
        padding-bottom: 62px;
        border-bottom: 1px solid #203182;

        p {
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 40px;

            b {
                font-weight: 700;
                color: #203182;
            }
        }

        .bluebtn {
            width: 290px;
        }
    }
}

.hero__contant {
    position: relative;
}

.hero__illustration {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.assistance {
    padding: 40px 0 30px;

    h2 {
        margin-bottom: 50px;
    }

    .flex-wrapper {
        justify-content: space-around;
    }
}

.assistance-item {
    width: 100%;
    max-width: 320px;
    flex: 0 0 320px;
    text-align: center;

    .icon {
        width: 96px;
        height: 96px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 24px;

        span {
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 57px;
                height: 22px;
                background: url('../img/decor.png') no-repeat center / 100%;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }
        }
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}

.audience {
    padding: 100px 0 128px;
    position: relative;

    h3 {
        margin-bottom: 50px;
    }



    .bgelement {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 311px;
    }
}

.audience-item {
    max-width: 612px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 62px 65px;

    ul {
        position: relative;
        z-index: 2;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                display: inline-flex;
                align-items: center;
                min-height: 68px;
                padding: 4px 15px 4px 55px;
                backdrop-filter: blur(10px);
                background: rgba(#fff, 0.4);
                border-radius: 30px;
                position: relative;
                font-weight: 600;
                font-size: 20px;
                max-width: 382px;

                img {
                    position: absolute;
                    left: 21px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 24px;
                }
            }
        }
    }
}

.benefits {
    padding: 40px 0 80px;
    background: #CBD4E1;

    h3 {
        margin-bottom: 50px;
    }
}

.customcol-sm {
    width: 100%;
    max-width: 25%;
    flex: 0 0 25%;
}

.customcol-md {
    width: 100%;
    max-width: 34%;
    flex: 0 0 34%;
}

.customcol-lg {
    width: 100%;
    max-width: 41%;
    flex: 0 0 41%;
}

.benefits-item {
    background: #fff;
    position: relative;
    overflow: hidden;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 0px #00000040;
    margin-bottom: 20px;
    padding: 24px;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    img {
        position: absolute;
    }

    &.v1 {
        p {
            max-width: 155px;
        }

        img {
            width: 92px;
            right: 29px;
            top: 44px;
        }
    }

    &.v2 {
        p {
            max-width: 160px;
        }

        img {
            max-height: 154px;
            max-width: 193px;
            right: 29px;
            top: 13px;
        }
    }

    &.v3 {
        p {
            max-width: 195px;
        }

        img {
            max-height: 150px;
            max-width: 213px;
            right: 29px;
            top: 15px;
        }
    }

    &.v4 {
        p {
            max-width: 260px;
        }

        img {
            max-height: 150px;
            max-width: 129px;
            right: 29px;
            top: 35px;
        }
    }

    &.v6 {
        p {
            max-width: 204px;
        }

        img {
            max-height: 88px;
            max-width: 88px;
            right: 29px;
            bottom: 28px;
        }
    }
}

.process {
    padding: 50px 0 80px;

    h3 {
        margin-bottom: 50px;
    }

    .text-center.mt60 {
        margin-top: 60px;
    }

    .bluebtn {
        min-width: 318px;
    }
}

.col-12 .process-item {
    margin-bottom: 0;
}

.process-item {
    background: #F0F4FA;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    position: relative;
    margin-bottom: 24px;
    transition: 0.3s;

    .num {
        width: 100%;
        max-width: 100px;
        flex: 0 0 100px;
        font-family: "Spectral", serif;
        font-size: 89px;
        color: #11559E;
        line-height: 100%;
        font-weight: 200;
        transition: 0.3s;
    }

    p {
        padding-left: 6px;
        width: 100%;
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        transition: 0.3s;
        z-index: 2;

        span {
            position: relative;
            display: inline-block;
            z-index: 1;

            i {
                font-style: normal;
                position: relative;
                z-index: 2;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 57px;
                height: 22px;
                background: url('../img/decor.png') no-repeat center / 100%;
                position: absolute;
                left: 0;
                bottom: -5px;
                z-index: 1;
            }
        }
    }
}

.process-pic {
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.infosection {
    padding: 55px 0 90px;
    position: relative;

    .container {
        position: relative;
        z-index: 1;
    }

    .bgelement1 {
        position: absolute;
        left: 0;
        bottom: 40px;
    }

    .bgelement2 {
        position: absolute;
        right: 0;
        top: 20px;
    }
}

.info-item {
    .wrapper {
        max-width: 334px;
        display: inline-block;
    }

    h5 {
        margin-bottom: 24px;
        font-family: "Manrope", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
    }

    p {
        margin: 0;
    }

    .infpic1 {
        width: 100%;
        max-width: 312px;
        margin-top: 137px;
        border-radius: 20px;
    }

    .infpic2 {
        width: 100%;
        max-width: 205px;
        margin-top: 57px;
        border-radius: 20px;
    }

    .infpic3 {
        width: 100%;
        max-width: 312px;
        border-radius: 20px;
        display: inline-block;
    }
}

.infolist {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    p {
        margin: 0;
        font-style: italic;
        font-size: 20px;
        text-transform: capitalize;
    }

    li {
        margin-right: 112px;

        &:last-child {
            margin-right: 0;
        }

        img {
            height: 40px;
            margin-bottom: 15px;
        }

    }
}

.flexdirecol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whywe {
    padding: 30px 0;

    h3 {
        margin-bottom: 50px;
    }
}

.testimonials-slide {
    max-width: 426px;
    min-height: 402px;
    width: 100%;
    background: url('../img/slide-bg.png') no-repeat center / 100% 100%;
    padding: 65px 48px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    .q-icon {
        margin-bottom: 10px;
        width: 20px;
    }

    p {
        text-align: left;
        font-size: 18px;
        line-height: 150%;
    }

    .author {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;

        .ava {
            width: 100%;
            max-width: 50px;
            flex: 0 0 50px;
            position: relative;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            img {}
        }

        .descr {
            padding-left: 22px;
            width: 100%;
            max-width: calc(100% - 50px);
            flex: 0 0 calc(100% - 50px);

            P {
                margin: 0;
                font-size: 14px;
                color: #676767;
                line-height: 120%;

                span {
                    display: block;
                    color: $text-color;
                }
            }
        }
    }
}

.contact-section {
    padding: 105px 0 70px;

    .imgwrap {
        img {
            border-radius: 20px;
            vertical-align: top;
        }
    }

    .flex-wrapper {
        max-width: 1096px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .leftcol {
        width: 100%;
        max-width: 45%;
        flex: 0 0 45%;
        padding-right: 60px;
    }

    .rightcol {
        width: 100%;
        max-width: 55%;
        flex: 0 0 55%;
    }

}

.contact-content {
    max-width: 440px;

    h3 {
        margin-bottom: 14px;
    }

    p {
        text-align: center;
        margin-bottom: 8px;
        font-weight: 300;
        color: #676767;
    }
}

.inputfield {
    margin-bottom: 10px;

    input {
        width: 100%;
        height: 44px;
        border: 1px solid rgba(#6F6F6F, 0.2);
        padding-left: 10px;
        border-radius: 10px;

        &::placeholder {
            color: rgba(#6F6F6F, 0.5);
        }
    }
}

button.bluebtn {
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;

    img {
        width: 24px;
    }
}

@media(max-width:1399.8px) {
    .hero h1 {
        max-width: 650px;
        margin-bottom: 30px;
    }

    .hero .descr p {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .hero__illustration {
        max-width: 45%;
    }

    .assistance-item .title {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .assistance-item .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .assistance-item p {
        font-size: 16px;
    }

    .audience-item ul li {
        margin-bottom: 30px;
    }

    .assistance h2,
    .audience h3,
    .benefits h3 {
        margin-bottom: 40px;
    }

    .benefits-item {
        height: 150px;

        p {
            font-size: 18px;
        }
    }

    .benefits-item.v1 img {
        width: 70px;
        top: initial;
        bottom: 20px;
    }

    .benefits-item.v2 img {
        max-height: 110px;
        max-width: 140px;
    }

    .benefits-item.v3 img {
        max-width: 160px;
        max-height: 115px;
    }

    .benefits-item.v4 img {
        max-height: 100px;
        top: 25px;
    }

    .benefits-item.v6 img {
        max-width: 60px;
        bottom: 15px;
    }

    .process-item {
        height: 180px;

        .num {
            font-size: 70px;
            max-width: 80px;
            flex: 0 0 80px;
        }

        p {
            max-width: calc(100% - 80px);
            flex: 0 0 calc(100% - 80px);
            font-size: 16px;
        }
    }

    .infolist p {
        font-size: 18px;
    }

    .infolist li {
        margin-right: 80px;
    }

    .info-item .infpic1 {
        margin-top: 100px;
    }

   

}